[2019-04-12 15:01] jean-moldovan opened #2 "What's up with this project?"
Is this new vuelidate rewritten?

[2019-04-12 15:03] marina-mosti commented on #2
Its a schema-driven form generation library, WIP :) It'll be able to implement Vuelidate though

[2019-04-12 15:07] #2 closed, assigned to nobody

[2019-04-12 15:10] jean-moldovan commented on #2
Okay, can I suggest you rename it to:
`vuformer`

[2020-04-29 23:04] scramatte opened #97 "Unable to get it running basic example, files missing"
Hello,

I'm unable to get it running basic example as some files are missing.
Can you provide following files and example to use into an existing vue project.

import OutputDisplay from './OutputDisplay'
import FormText from './form-elements/FormText'
import FormSelect from './form-elements/FormSelect'
import FormCheckbox from './form-elements/FormCheckbox'

Thank you

[2020-04-29 23:17] scramatte opened #98 "Documentation: How to use Vuelidate with Formvuelatte"
Hello,

How can I use Vuelidate with Formvuelatte?
Can you add some doc about this?

Regards

[2020-04-30 00:22] marina-mosti commented on #97
Hello, @scramatte

The components used in the examples are only for example purposes. FormVueLatte does not provide form components as it is not a component library, but it enables you to use your own :)

If you need some base components I recommend you check out Vuetify or some similiar component library.

[2020-04-30 00:24] marina-mosti commented on #98
Hello @scramatte
Currently integration with the two libraries is fairly complicated, and not officially supported.

We are working on version 2.0 which will provide this capability as well as accompanying documentation. This version should be released shortly after Vue 3.0 is released officially. Keep posted :)

[2020-04-30 07:59] scramatte commented on #98
Hello.

But it will still compatible with Vue 2 ? Any timeline ?
I've going to port our ERP to Vue2 + Laravel and I've got many many forms ...

Regards

[2020-04-30 08:03] scramatte commented on #97
This is what I've done, I've followed you Blog post  and I make my component for bootstrap-vue. I was unable to get vulidate working so I've tried  your blog
https://www.vuemastery.com/blog/Validating-Schema-Driven-forms-with-Vuelidate/ and it works fine.

[2020-04-30 09:57] marina-mosti commented on #97
I'm glad it worked for you! Going to close the issue as it is not related to the lib

[2020-04-30 09:57] #97 closed, assigned to nobody

[2020-04-30 09:59] marina-mosti commented on #98
Version 2.0 uses a lot of features only available with Vue 3, so 2.0+ will only be compatible with Vue 3.0.

You can still use the current version for your Vue 2 projects, it will not be removed or unpublished - as is. There is not further work being planned with the current version.

We are working on some heavy changes to Vuelidate and FormVueLatte internals to make the seamless compatibility po

[2020-04-30 09:59] #98 closed, assigned to nobody

[2020-09-02 13:43] AleksejDix opened #129 "Add Conditional Schemas"
It is very common that input has a conditional relationship to another field.

Problem: Currently it is very tedious to create large forms which have a tree form (not linear like a wizard form)

Idea: To have a condition property on the schema object wich will be executed when the form model changes. Schema will be a computed property of the form model

[2020-09-02 17:26] marina-mosti commented on #129
Hello @AleksejDix this can be accomplished with Formvuelate by making your schema a computed property, any object or array passed into the `schema` property of `SchemaForm` is reactive and will modify the form at runtime

[2020-09-04 08:35] AleksejDix commented on #129
yes this is true, i wrote a similar lib in my company,

conditional schemas feel  like a very manuell  process which can be automated

[code]

[2020-09-04 08:57] shentao commented on #129
I actually like the idea! Also nice seeing you again mate!

[2020-09-04 09:22] marina-mosti commented on #129
Sounds interesting, will put it on the todo log :) Thanks for the idea

[2020-09-08 06:53] AleksejDix commented on #129
i have a working demo for vue 2 now need to make it work for vue 3

[2020-09-29 07:26] AleksejDix opened #132 "Add Array support as root and nested Fields"
JSON root type could be any primitive type like Object, Array, String, Boolean, Null and Numbers
Objects and Arrays are most common one for making forms.

**Describe the solution you'd like**
root Model Value should be able to handle both types Objects and Arrays.
Arrays must hold the same type and it should be possible to repeat the types.
Arrays Entries can be deleted, created and updated.
Array

[2020-09-29 07:53] marina-mosti commented on #132
@AleksejDix can you provide a code example of what what you're suggesting?

[2020-09-29 10:14] AleksejDix commented on #132
i was looking  at different solution which have a default support for JSON Schema
here are some examples
https://rjsf-team.github.io/react-jsonschema-form/

https://json-editor.github.io/json-editor/

[2020-09-29 16:43] marina-mosti commented on #132
Oh, ok JSON Schema I understand now. This has been on the development map for a while now, it would have to be developed as a plugin similarly to what lookup is doing. I don't have the time to do this right now, but will mark the idea as a good enhancement in case anyone wants to take a crack at it :)

[2020-12-30 11:34] D3m1urg0 opened #141 "Computed schemas lose reactivity with the plugin system"
**Describe the bug**
When reproducing this example: https://formvuelate.js.org/#schemaform-with-v-model
with an Array-schema as the value changes computed property is updated (i can see that in devtools) but the rendered form is untouched

**To Reproduce**
try to use the following computed schema in the vmodel conditional-schema example
https://github.com/formvuelate/formvuelate/blob/main/.vitepre

[2021-01-02 17:34] marina-mosti commented on #141
Thanks for opening the issue @D3m1urg0 I'll take a look next week hopefully

[2021-01-08 14:06] marina-mosti commented on #141
Hey @D3m1urg0 I've managed to set up using your example and it works fine on my end.

[code]

Can you check the above code and provide more info if needed?

[2021-01-08 14:11] marina-mosti commented on #141
![Jan-08-2021 14-10-43](https://user-images.githubusercontent.com/14843771/104024635-5616c880-51bb-11eb-855a-4f0a26d4b637.gif)

[2021-01-11 12:43] D3m1urg0 commented on #141
That's unexpected !
I will try use your exact code in my enviornment and will give you some news about it.

in the meantime I thank you infinitely for this very useful library ;)

[2021-01-11 15:06] D3m1urg0 commented on #141
@marina-mosti i tested your code in my enviornment and it worked like expected (except for preventing model cleanup on schema changing without the prop set to true, but that could be related to my custom fields and is an offtopic behaviour)

then i edited step by step your model with my configuration and i found the last step before reactivity shouted:

[code]

then this seems to be related to the

[2021-01-11 15:15] marina-mosti commented on #141
Interesting. No need to open issues on the plugins, ill investigate thank you @D3m1urg0

[2021-01-12 10:24] marina-mosti commented on #141
// LookupPlugin({
  // }),
  // VeeValidatePlugin({
  // })

@D3m1urg0 both these plugins require configuration. Can you provide a minimal working reproduction on a repo of the code, so that I can see the actual errors youre getting?

[2021-01-12 18:59] D3m1urg0 commented on #141
@marina-mosti
i really suck at Github so i am sure there's a better way to share this...

Actually this is my "sandbox vue 3 test" repo, in which I am adding all the best libraries I find online, (and your is definitely one of them)
i made it public and created a branch with the working example of this issue.

I don't know if there's an easier / cleaner way to provide you the reproduction,. i hope

[2021-01-13 12:48] D3m1urg0 commented on #141
@marina-mosti i did this that's probably better for inspecting the issue:

https://codesandbox.io/s/test-reactivity-formvuelate-rpj1e?file=/src/App.vue

[2021-01-13 13:30] marina-mosti commented on #141
Thank you @D3m1urg0 this is super helpful, and exactly what I needed to investigate

[2021-01-15 11:07] marina-mosti commented on #141
Hello @D3m1urg0 issue should be fixed, please update both your plugins to next version

[2021-01-18 11:18] D3m1urg0 commented on #141
Hi, i just updated dependencies in my sandbox
https://codesandbox.io/s/test-reactivity-formvuelate-rpj1e?file=/src/App.vue

to  "@formvuelate/plugin-lookup": "1.2.1" & "@formvuelate/plugin-vee-validate": "1.0.5"
but nothing seems to be changed.
I gave you edit permission on the example itself, is there some other else i have to do other than update the dep?

[2021-01-18 13:12] marina-mosti commented on #141
Hey @D3m1urg0, you're right something seems to break in the packaged version. Thanks for letting me know

[2021-01-18 16:16] marina-mosti commented on #141
Hello again @D3m1urg0
Issue should be fixed. Codesandbox isnt finding the new 1.2.3 version for lookup yet though.
Let me know if you run into further issue

[2021-01-18 16:30] D3m1urg0 commented on #141
Hi @marina-mosti,
the reactivity is restored, but it created a new unexpected behaviour.

You can reproduce it directly in the codesandbox i provided: (but i get the same result also on my local project)
if you insert any value inside the textfields they will loose the focus at each input event (you can just type one letter then you need to select the field again)

I tested it also commenting the

[2021-01-20 13:15] marina-mosti commented on #141
Going to close this issue and open a new one to keep the issues separate

[2021-01-20 13:15] #141 closed, assigned to nobody

[2021-01-20 13:15] marina-mosti opened #142 "Inputs losing focus on computed schema"
Based on #141
Reported by @D3m1urg0

You can reproduce it directly in the codesandbox i provided: (but i get the same result also on my local project)
if you insert any value inside the textfields they will loose the focus at each input event (you can just type one letter then you need to select the field again)

I tested it also commenting the plugins options and everything works as intended then

[2021-01-30 14:03] marina-mosti commented on #142
Hey @logaretm mind taking a look? Seems when I comment out the vee-validate plugin it works, but with it the bug described here is present.

https://codesandbox.io/s/test-reactivity-formvuelate-rpj1e?file=/src/App.vue

[2021-01-30 17:40] logaretm commented on #142
@marina-mosti Sharing my findings, for some reason when binding the `onUpdate:modelValue` to the rendered component the whole form re-renders.

If I skip doing that it works fine, since vee-validate integration uses the composition API strictly, it doesn't affect rendering or events handling. Not sure how this could be fixed.

When calling `attrs['onUpdate:modelValue'](anyVal)` it causes the whole

[2021-01-30 19:17] marina-mosti commented on #142
Hey @d3m1urg0 we found the problem, and should be issuing a fix soon. Thanks for pointing us to the problem again

[2021-01-30 20:29] marina-mosti commented on #142
Fixed by: https://github.com/formvuelate/formvuelate-plugin-vee-validate/pull/10

[2021-01-30 20:29] #142 closed, assigned to nobody

[2021-02-16 14:24] uwekamper opened #143 "Support for multiple sub-entries inside a SchemaForm"
**Is your feature request related to a problem? Please describe.**

FormVueLate lets you group form fields easily using SchemaForm as show in the playground example: https://formvuelate.js.org/#playground

When you enter a work address and work phone number the resulting JSON looks like this:

[code]
This works nicely for grouping many fields that belong to _one_ combined entry.

But how would you

[2021-02-16 14:41] marina-mosti commented on #143
Hello @uwekamper
It would seem that this could potentially be resolved by making your schema a computed property.
- Off the top of my head, you could set a state `numberOfMembers: 1`
- When the user clicks the + you ++ this number, or -- depending on your UX
- The computed property would then have a `loop`

Pseudocode:
[code]

The takeaway here is that your schema doesnt need to be static. Making

[2021-02-16 14:43] marina-mosti commented on #143
You may or may not need this prop, depending on your use case also. So give it a look too

https://formvuelate.js.org/#prop-preventmodelcleanuponschemachange

[2021-02-19 10:16] wiese opened #144 "Documentation of component registration"
In the [schema documentation](https://formvuelate.js.org/#prop-schema) about the `component` property it currently says (emphasis mine)

As a consequence, I tried to register the custom components locally in my component using formvuelate's `SchemaForm` and identify the components to use by string (to get a green tick in the "code-free schema" column of my [decision matrix](https://twitter.com/pct

[2021-02-19 11:19] marina-mosti commented on #144
@wiese thanks for the issue. You're actually right, this is an oversight. We've opened a discussion around this and there seems to be a few ways we can resolve this, most likely through the SchemaFormFactory by injecting the list of components into it.

Hopefully, I can get it done soon :)

[2021-02-19 11:22] marina-mosti commented on #144
I've gone ahead and corrected/removed this bit from the docs until its addressed

[2021-02-23 10:15] marina-mosti commented on #144
@wiese ability to register local components has been added on `v1.2.0` with #145
[SchemaFormFactory docs](https://formvuelate.js.org/#using-locally-imported-components)

[2021-02-23 10:15] #144 closed, assigned to nobody

[2021-02-23 10:15] marina-mosti commented on #144
Codesandbox with example for reference: https://codesandbox.io/s/fvl-local-imports-48y8y

[2021-02-23 10:16] marina-mosti commented on #143
@uwekamper did this information resolve your question?

[2021-02-23 15:34] uwekamper commented on #143
@marina-mosti Yes, thank you for very fast reply. I will try to build a prototype with that information.

As far as I understand is that if my backend API needs a **list / array** of family members than I will need to do the followin:

On submit, I need to convert several "familyMember + i": entries in the "modelValue" object in to a list of familyMembers, e.g.:

[code]

Or is there some way to st

[2021-02-23 16:10] marina-mosti commented on #143
I cant think of a solution that is exactly like that, but if you try something similar to:

[code]

You get the output:
[code]

https://codesandbox.io/s/fvl-computed-nested-h8ssp?file=/src/App.vue

[2021-02-25 09:27] wiese commented on #144
Thank you very much. The [documentation](https://formvuelate.js.org/#using-locally-imported-components) looks awesome!

[2021-03-11 21:21] timsayshey opened #152 "Typescript Support"
Does this package have Typescript support or are you planning to add it?

When trying to use this in my Vue 3 app using Typescript I get the following error:
[code]

[2021-03-11 22:02] marina-mosti commented on #152
We don’t have definitions yet. I’m not sure when we will add them, I’ve been working on version 3.x which I should release soon.

After that there’s other features I want to address before this. Feel free to make a PR :)
On 11. Mar 2021, 22:21 +0100, Tim Badolato ***@***.***>, wrote:

[2021-03-11 22:04] timsayshey commented on #152
Good to know - Thanks!

[2021-03-11 22:04] #152 closed, assigned to nobody

[2021-03-11 22:35] timsayshey opened #153 "Uncaught (in promise) TypeError: Cannot read property 'lastName' of undefined"
**Expected behavior**
I'm trying to get this to render the form.

**System Info**
- FormVueLate: Latest
- plugins being used with versions: None

**Describe the bug**
Here is the bug:
[code]

**To Reproduce**
Here is the code:
[code]

[2021-03-11 22:38] marina-mosti commented on #153
Please make sure you’re using 2.x and not 3.x beta in your package JSON
Can you confirm this?
On 11. Mar 2021, 23:35 +0100, Tim Badolato ***@***.***>, wrote:

[2021-03-11 22:45] timsayshey commented on #153
Yes, downgrading to 2.2.1 fixed it! Interesting

[2021-03-12 07:06] #153 closed, assigned to nobody

[2021-03-12 07:06] #143 closed, assigned to nobody

[2021-03-12 23:21] timsayshey opened #154 "Automated filling of form fields not reflected in model"
**Describe the bug**
When I fill fields in an automated way, the model doesn't get updated. Only when I manually type in the text input does the data get added to the model.

**Video**
![2021-03-12 17 19 54](https://user-images.githubusercontent.com/1148940/111008709-4e100c00-8357-11eb-8102-b992855aafc4.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Open the [example sandbox app](https

[2021-03-13 08:34] marina-mosti commented on #154
Hello @timsayshey , this is not an issue with formvuelate but a known problem with chrome auto fill. You need to do some hacks on your components to listen to animations. Here's a link to read more

https://github.com/vuejs/vue/issues/7058

[2021-03-15 15:33] timsayshey commented on #154
Hi @marina-mosti - That appears to be a separate issue. It's not the Chrome autofill that I'm using. I'm using an extension to fill the form with test data. It seems the Vue listener is broken. I wonder if this was introduced as a bug in Vue 3 since it was not an issue in Vue 2 with Vue Formulate which what I'm migrating from for Vue 3. I'm just looking for a workaround at this point. I'll update

[2021-03-15 16:05] timsayshey commented on #154
@marina-mosti Interesting. I created a normal form using the FormText component you provided and the form that isn't using FormVueLate works as expected with automated fill. However, the FormVueLate form does not, it only autofills the last field. I think there is something going on with the way it updates the model in FormVueLate.

Here's the updated Sandbox:
https://codesandbox.io/s/fvl-playgrou

[2021-03-15 16:10] timsayshey commented on #154
@marina-mosti It looks like the object is not being passed around correctly which would be why the last entry overwrites all previous entries.

[2021-03-15 16:11] timsayshey commented on #154
Btw, this isn't just an issue for automated form filling. This will be a problem for e2e testing in tools like Cypress.

[2021-03-15 16:19] marina-mosti commented on #154
Hey @timsayshey

It's hard to tell because the plugin doesn't have open-source, on how they're targeting inputs.
Saying that it will be a problem for e2e is also a stretch since most e2e software targets CSS selectors.

I did reproduce with your plugin, but unless they can help you figure out exactly what they're doing behind the scenes to set the value there's not much to be done here.

If you ta

[2021-03-15 16:24] marina-mosti commented on #154
Re: If I had to guess, it would seem that the problem comes from the plugin firing off all the change events at the same time and it creates a race condition between the `v-model` bindings trying to update.

I just tested it out with FVL 3.x and with the new binding that I'm going to introduce this issue will be fixed.
Will have to wait for 3.x to be out of beta I think :) I don't see any feasible

[2021-03-15 16:25] marina-mosti commented on #154
Here's a 3.x code sandbox just in case: https://codesandbox.io/s/fvl-useschemaform-3x-w7i2f

[2021-03-15 16:30] timsayshey commented on #154
Awesome! Yes, I see it working in your V3 demo - I'll see if I can get my app upgraded to work with the V3 beta

[2021-03-15 16:31] marina-mosti commented on #154
The beta is pretty stable now I think, if you wanna check out the migration guide I have a PR open you can look at. It's pretty straight forward

[2021-03-15 16:37] #154 closed, assigned to nobody

[2021-03-29 08:14] #129 closed, assigned to nobody

[2021-04-12 05:50] bhumit070 opened #164 "How to use with nuxt and Vue2"
Hey there I want to generate forms throught schema and I wanted to know
how to use this package in nuxt js and vue 2 I have read through docs but did not find anything
so it would be great to get help from here

[2021-04-12 07:28] marina-mosti commented on #164
Hello @bhumit070 FormVueLate is a Vue 3 library. There's no current real support for Vue 2, and no immediate plans for backwards compatibility

[2021-04-12 07:29] #164 closed, assigned to nobody

[2021-04-16 04:12] bhumit070 commented on #164
Okay thanks for reply

[2021-04-19 19:52] hognevevle opened #166 "Default values for fields?"
Hello!

This is probably a stupid question, but I can't seem to figure out how I can set a default value for my form fields. Can you provide an example on how to achieve this?

[2021-04-19 19:59] hognevevle commented on #166
Never mind :)

[code]

[2021-04-20 08:14] marina-mosti commented on #166
Hey @hognevevle , yep you got it.
This gives me an idea for adding a proposed value to the schema to inject a default value so I'm going to reopen this as a reminder.

[2021-04-20 11:37] hognevevle opened #167 "A way of "touching" all fields on submit"
**Is your feature request related to a problem? Please describe.**
When using the approach of touching each field on blur (and not showing the `validation.errorMessage` before the field is touched - as per the last example [here](https://formvuelate.js.org/guide/veevalidate.html#component-requirements)), the current experience is not so great if you were to submit the form without touching all the

[2021-04-20 11:42] hognevevle opened #168 "docs: `validation.touched` should be `validation.meta.touched`"
**Describe the bug**
From the last example at https://formvuelate.js.org/guide/veevalidate.html#component-requirements :
[code]

.. is incorrect. Instead, it should be:
[code]

[2021-04-20 20:25] hognevevle opened #169 "Array form fields"
When using a component that emits a model value with an array of strings (multi-select), the following error is thrown:

[code]

How can I indicate that I do actually expect this to be an array?

[2021-04-20 20:44] marina-mosti commented on #169
Hello. Please provide some example code and a minimal reproduction of the bug so I can look at it
On 20. Apr 2021, 22:26 +0200, Hogne Vevle ***@***.***>, wrote:

[2021-04-20 21:14] hognevevle commented on #169
Thanks Marina,

You'll find a reproduction here: https://github.com/hognevevle/headlessui-bug/tree/formvuelate
(in the formvuelate branch)

I've just overridden the update method here, so it emits an array instead of just the regular text. When typing something in one of the inputs, you'll see the error in the console.

[2021-04-20 22:42] logaretm commented on #168
You are right, sorry about that. This is fixed in #170 which should be merged and updated soon

[2021-04-20 22:57] logaretm commented on #167
Hey there, you are indeed right. This problem is apparent with formvuelate integration since it doesn't have a concept of handling "validation triggers".

It might be worthwhile to add a new validation flag, e.g: `submitted` as you suggested to the core of vee-validate which will be reflected in the formvuelate plugin, I will see what I can do and will post updates here.

This already exists as `v

[2021-04-21 06:32] #168 closed, assigned to logaretm

[2021-04-21 06:42] marina-mosti commented on #169
Hey @logaretm seems the problem here is with the `vee` plugin. On line 118 you are setting the type to strict `[String, Number]`.

Is there a reason why vee needs these strict types or can we remove typing here?

[2021-04-21 08:06] logaretm commented on #169
Yea, I'm not sure why I have that there but it is safe to remove. I created a PR for it.

[2021-04-21 08:10] #169 closed, assigned to nobody

[2021-04-22 00:12] logaretm commented on #167
Quick update, I have researched a little bit and I think introducing this by default in the core vee-validate lib makes more sense than adding a special boolean just for that.

Once [this is merged](https://github.com/logaretm/vee-validate/pull/3278) (maybe tomorrow) you can upgrade vee-validate and it should set the fields to `touched` automatically for you once you submit.

While this closes thi

[2021-04-22 07:37] hognevevle commented on #167
Awesome, thank you so much! Doing this as default definitely makes sense.

[2021-04-23 00:29] logaretm commented on #167
Should be up with vee-validate `4.3.3`, will add this shortly to the formvuelate documentation.

[2021-04-23 00:29] #167 closed, assigned to logaretm

[2021-05-16 08:11] erkage opened #181 "In the playground where is the work part?"
On the codesandbox playground (fvl-playground-3x) there is a "work" part both in Object and Array schema but it not appears anywhere on the "rendered" side. Do i miss something? Is it intended?

[2021-05-16 08:42] marina-mosti commented on #181
Not sure I understand what the problem is. Can you provide a screenshot or example?
On 16. May 2021, 10:11 +0200, erkage ***@***.***>, wrote:

[2021-05-17 11:35] erkage commented on #181
Here:
[https://codesandbox.io/s/fvl-playground-3x-ojbt9?from-embed=&file=/src/App.vue:2053-2746](https://codesandbox.io/s/fvl-playground-3x-ojbt9?from-embed=&file=/src/App.vue:2053-2746)
what is the highlighted/selected part for? It's not processed/rendered/showed anywhere as i can see!?

[2021-05-17 13:49] marina-mosti commented on #181
Thanks @erkage I've gone ahead and fixed it, it was a problem with how the `SchemaForm` component was getting registered. Its a bit of a hack since we need it to be from a JSON string parsed schema, but its now working 👌🏻

[2021-05-17 13:49] #181 closed, assigned to nobody

[2021-06-12 01:01] pau-santesmasses opened #187 "Maximum call stack size exceeded using adjacent sub-forms"
Hi

Not sure if this is a bug or just a limitation of the library, but when I try to place multiple adjacent sub-schemas, it seems to go into a recursive tailspin and end up with a "RangeError Maximum call stack size exceeded" error.

Here's an example:

https://codesandbox.io/s/fvl-adjacent-sub-forms-forked-rzek8?file=/src/App.vue

[code]

[2021-06-12 09:45] #187 closed, assigned to nobody

[2021-06-14 05:41] urbanbratcoder opened #191 "Validation Plugins Example With SchemaWizard"
Hi there!

First of all, great work! I have recently discovered formvuelate and i love it.

I am a beginner with vue 3 and your fabulous library. I am aware that my demand is due to lack of my own js and vue 3 knowledge. Nevertheless i would appreciate an addition to the examples in the documentation about using the schemawizard with the validation libraries/plugins. I imagine this could also be o

[2021-06-14 09:49] marina-mosti commented on #191
Hello @urbanbratcoder
There are no docs because it's not currently possible ;(
The wizard mostly provides a quick and easy way to do paginated forms, but was never really brought up to speed with the flexible capabilities of what the SchemaFormFactory can do

At this point, I would suggest whipping up your own paginated solution by splitting up your schema into an array and passing only the desire

[2021-06-14 12:03] urbanbratcoder commented on #191
Thank you for clarification. I am fine with having my self made pagination.
Please keep going with such fantastic work like this library!

[2021-06-24 14:55] pau-santesmasses opened #195 "Field props are not reactive"
**Describe the bug**
The props that are passed to the field components (i.e. FormText) lose their reactivity.

**To Reproduce**
Make a schema with at least one reactive property. For instance:

[code]

**Expected behavior**
The FormText component should receive a reactive `label` prop. In this case it would get updated to the new value after 1s.

**System Info**
- FormVueLate version: 3.1.1
- plug

[2021-06-25 10:52] marina-mosti commented on #195
Hey @pau-santesmasses thanks for the bug report, ill look into it as soon as i get a chance

[2021-06-26 17:48] erkage opened #198 "Schema condition reset"
When using [schema condition](https://formvuelate.js.org/guide/advanced-schema.html#conditionally-displaying-an-element-within-the-schema) i think when the condition result gets to false then any previous inputed value should have destroyed/cleared.

Example:

[code]

Steps:
1. As "1" is selected on load the "one" FormText is visible. Write something in it.
2. In FormSelect choose "2" and then "tw

[2021-06-27 14:35] #195 closed, assigned to nobody

[2021-06-27 14:40] marina-mosti commented on #198
Hello @erkage I'm on the fence with this one, maybe @tzhelyazkova and @logaretm want to weight in on this one.

I'm leaning towards agreeing that the schema property should probably be removed, with the exception of `preventModelCleanupOnSchemaChange` being `true`.

I'll get back to this when time permits with the pertinent change/docs clarification

[2021-06-27 15:14] erkage opened #199 "Using vue-i18n in scheme"
What do you think is it possible to achive that (in the current version) for example the labels changeing when i switch the language in the i18n switcher?

In my first try the initial load is working, so default language is EN and using the vue-i18n's `t` function in scheme's label property it loads the correct translation. But when i switch the language nothing happens.
I have ideas why not but b

[2021-06-27 15:25] marina-mosti commented on #199
Should probably use a computed for the schema so that the internationalization is reactive

[2021-06-27 15:47] logaretm commented on #198
I think this is mostly a "product decision" because depending on the use case it will benefit some over the other.

let's say when a field is unmounted, its value path will be destroyed (removed) from the model. This is desirable for conditional fields where a field is present depending on some condition.

This becomes undesirable if someone is taking advantage of computed schema to create a stepp

[2021-06-27 16:17] erkage commented on #199
Great idea!

But i tried it this way:
[code]
[code]

and in the template it reacted to the language change but the labels aren't 🙁 .

[2021-06-27 16:31] marina-mosti commented on #199
Make sure you are using the latest version of FVL since I fixed a reactivity bug recently. I dont know the inner workings of i18n but if it triggers the computed property it should change the schema, and thus your label prop binding

[2021-06-27 18:05] erkage commented on #199
Yaaay! Works like a charm! I was on 3.2.0 😉.
Thank you very much!

/* just bought some trees 😉 */

[2021-06-27 18:05] #199 closed, assigned to nobody

[2021-06-27 18:10] marina-mosti commented on #199
Thanks for the 🌲:D
On 27. Jun 2021, 20:05 +0200, erkage ***@***.***>, wrote:

[2021-06-28 21:15] andersevenrud opened #201 "The `config` property does nothing"
**Describe the bug**

The `config` property does nothing. Example:

[code]

**To Reproduce**

1. Go to the playground: https://codesandbox.io/s/fvl-playground-3x-ojbt9?from-embed=&file=/src/App.vue:2989-2995
2. Open devtools
3. Inspect the email field
4. Notice that the `type` is wrong on the DOM element.

**Expected behavior**

The `type` should be set to `email` on the DOM element.

**System Inf

[2021-06-28 21:21] marina-mosti commented on #201
I'm not sure what this `config` is, but just put the type at the root level where the label and required are.
Everything on that level is bound to the component that it instantiates

Unless your own component has a config property that then you use to sort out these configuration params, but thats beyond the scope of the lib and more on the side of your component composition

[2021-06-28 21:33] andersevenrud commented on #201
Aha! Thank you very much for solving this issue and excellent response time :blush:

[2021-06-28 21:33] #201 closed, assigned to nobody

[2021-06-28 22:32] andersevenrud opened #203 "Feature request: Custom `<form>` attributes"
**Is your feature request related to a problem? Please describe.**

I've encountered a situation where I need custom attributes on the `<form>` element. More specifically `novalidate` in order to disable the browsers validation (and its popups).

**Describe the solution you'd like**

Something like this would be nice:

[code]

**Describe alternatives you've considered**

Maybe a slot ?

[code]

Or

[2021-06-28 22:55] andersevenrud commented on #203
Just a note here, adding `@invalid.prevent` to a form field will disable the behavior on a per field basis, but this is not optimal. And AFAIK there's no way to use `sharedConfig` on `<SchemaForm>` to add events globally (because of the `v-on` Vue sugar).

[2021-06-28 22:58] logaretm commented on #203
The `SchemaForm` should inherit the attributes and pass them over to the root element, doesn't this already work?

[code]

[2021-06-28 23:07] andersevenrud commented on #203
Ah! I didn't try adding stuff to the `<SchemaForm>` :man_facepalming: Is this mentioned in the docs ? I was looking for some examples or tips regarding this... probably just me that totally missed something though.

Works like a charm. Thanks!

[2021-06-28 23:07] #203 closed, assigned to nobody

[2021-06-29 17:43] #198 closed, assigned to nobody

[2021-07-01 19:58] erkage opened #205 "Nested conditions in nested schemas not working"
If i use an already conditioned model in a condition it gives `TypeError: Cannot read property 'model' of undefined`.

Example:
https://codesandbox.io/s/fvl-conditional-schema-with-schema-condition-3x-forked-rw5vo?file=/src/App.vue:1540-1599

Tried versions:
3.2.1 - 3.2.3

[2021-07-01 21:54] marina-mosti commented on #205
Thanks @erkage will investigate

[2021-07-03 22:05] marina-mosti commented on #205
Hey @erkage I found the problem. The solution is to change your condition to

[code]

FormVueLate returns the `model` as it currently is (unwrapped). This model is what you created using `useSchemaForm`. Since there are no pre-defined values, neither `first` nor `second` exist yet in the model. Thus, you have to check first if these properties even exist in your function before trying out to check

[2021-07-04 15:26] erkage commented on #205
Hey @marina-mosti,
OMG...makes sense! I'd just overthink it and thought it's a complicated core issue 🙂 .
Thanks for checkin and big 👍  for the docs 🙂 .

[2021-07-04 15:48] erkage opened #208 "When a condition is not met maybe the schema row shouldn't be rendered aswell"
So, in this case
[code]
A `div.schema-form` always be rendered with empty content. It's not break anything but when you add some css style for example padding it affects the layout.

It can be easily solve with some css in the internal elements but maybe it's totally unnecessary to render that empty `div.schema-form` and can be ommited.

[2021-07-05 10:58] #205 closed, assigned to nobody

[2021-07-05 11:07] marina-mosti commented on #208
Hey @erkage, to be honest, I hadn't considered the possibility of conditioning the whole subschema, this will take some work so I'm going to label as it as an enhancement for now and will get back to it when I get some time. Thanks for the idea

[2021-07-05 15:49] erkage commented on #208
I managed to solve the `padding` problem in my case with:
[code]
and added the `padding` style to the `div.schema-col`.
But i can imagine a case where this is not enough.

[2021-07-05 16:11] erkage opened #209 "Vee-validate-plugin custom error messages"
I read the docs about 5 times and can't figure out how to add custom error message texts to validations.

For example i have a required field:
[code]

And in the `validation.errorMessage` i got `requiredField is not valid`.

I also have a `@vee-validate/i18n` compatible json file that i happily use here if possible 🙂 .

[2021-07-05 16:23] logaretm commented on #209
You would need to [follow vee-validate's instructions there](https://vee-validate.logaretm.com/v4/guide/i18n#using-vee-validatei18n). You can use your own JSON similarly.

[2021-07-05 16:34] erkage commented on #209
@logaretm Ahh, i tried it before but didn't know that `configure()` also needed here. Tried to add the `generateMessage` with `localize` to `VeeValidatePlugin()`. I know it's not mentioned in the docs but somehow it makes sense to me 🙂 .
Now it works like charm. Thank you!

[2021-07-05 16:34] #209 closed, assigned to nobody

[2021-07-05 16:38] erkage commented on #209
However maybe a note line in the docs can mentioned this. What do you think?

[2021-07-07 08:28] erkage opened #210 "When schema condition gets to false vee-validate validations also needs to follow it"
In #198 if the condition is false the default behavior is that the value path is removed from the model as well. It seems that the vee-validate validation not follows this and the errors remains there.

Example:
https://codesandbox.io/s/fvlvee-validate-form-error-handling-5m4rt?file=/src/App.vue

Steps:
  1. select A
  2. select C
  3. write something in 'c field'
  4. delete it
  5. select D

Pro

[2021-07-08 00:03] logaretm commented on #210
Thanks for reporting this, I took a look and it is a bug with vee-validate itself. The issue should go away on the next minor release of vee-validate.

You can track the issue progress in an issue I [opened in vee-validate's repo](https://github.com/logaretm/vee-validate/issues/3384)

[2021-07-08 00:40] logaretm commented on #210
I tagged a patch, please upgrade vee-validate to `4.4.6` and it should be resolved.

[2021-07-08 00:40] #210 closed, assigned to logaretm

[2021-07-08 06:22] erkage commented on #210
@logaretm Updated to `4.4.6` and the issue is gone 🎉 . Thank you!

[2021-07-08 08:13] erkage commented on #209
@logaretm I have a related question if you don't mind. Now on load i have the correct locale string for errors. But i can't figure out how to change the locale after it (without reloading page).
[Here](https://github.com/logaretm/vee-validate/issues/3130) i see that is intended but can't find how can i 're-trigger validation' here!?

Also trying with `setLocale` from `@vee-validate/i18n` but with

[2021-07-08 15:45] logaretm commented on #209
No way at the moment to access the validation API from FormVuelate, we are discussing it here #204

Personally, I prefer to reload the page whenever a locale changes. I don't see a benefit to changing the locale "in-place" for most web apps

[2021-07-08 16:29] erkage commented on #209
@logaretm
Oh no! Now i have to rethink my concept. 🙂

I like "streamline experience" so reloading is never an option for me (if yes it's a sign of a problem/bug).

I'm working on a small multilangual questionnaire (and as a base form handling for my future projects) and when started the work i was thinking a lot about that should i ask the preferred language in first place and the move on but than

[2021-07-12 14:50] hognevevle opened #211 "Support async components"
Now that async components are starting to be more supported in Vue through [Suspense](https://v3.vuejs.org/guide/migration/suspense.html), it would be great to be able to use such components together with formvuelate (i.e. components with an async setup function).

Currently this does not seem to be supported. Let me know if you'd like me to provide an example.

[2021-07-12 15:28] marina-mosti commented on #211
Hey @hognevevle yeah, please provide a repro

[2021-08-08 20:31] #208 closed, assigned to nobody

[2021-08-09 06:59] marina-mosti commented on #211
Hey @hognevevle did you manage to reproduce? Or did you find a way to clear your issue?

[2021-08-09 14:48] hognevevle commented on #211
Hey Marina, we chose to ditch Suspense in this specific scenario for now. I will reopen as soon as I can find time to put together a repro.

[2021-08-09 14:48] #211 closed, assigned to nobody

[2021-08-17 13:46] #166 closed, assigned to nobody

[2021-08-31 11:40] datenspast opened #224 "Field lookup does not work in nested schemas"
First of all: Thanks for the great library!
Not sure if this is a bug that relates to the formvuelate library or the lookup plugin.
Maybe the bug relates to different problems. I name them [A] and [B].

**Describe the bug**
It seems that the field lookup does not work in nested schemas.

**To Reproduce**
[A]
I modified the codepen example here:
https://codesandbox.io/s/fvl-nested-schema-3-x-forked

[2021-09-03 09:18] marina-mosti commented on #224
Hey @datenspast thanks I'm on vacation I'll check it out when I get back 👍

[2021-09-03 14:02] pau-santesmasses opened #225 "Custom label in validation messages"
The custom label feature in the vee-validate plugin appears to have stopped working.

**System Info**
- FormVueLate version: 3.5.0
- plugins being used with versions: vee-validate 3.4.0

[2021-09-04 18:15] marina-mosti commented on #224
Hey @datenspast try changing the `component: SchemaForm, // this works` for `component: SchemaFormWithPlugins,` since each level of the nested schema needs to have access to the plugin implementation

https://codesandbox.io/s/fvl-nested-schema-3-x-forked-r16hz?file=/src/App.vue:869-906

Is that what you were expecting?

[2021-09-04 21:36] logaretm commented on #225
Sorry about that, looks like the `label` code from your PR was dropped when we migrated to the mono-repo structure.

Should be fixed in the next patch.

[2021-09-05 16:20] #225 closed, assigned to logaretm

[2021-09-06 07:16] datenspast commented on #224
Hi @marina-mosti : Many thanks for your reply and support!
Your proposed solution works but does not solve the issue I´m facing.
Since we get the Schema from an API all values are Strings. So we get e.g.
[code]
I understand the guide (https://formvuelate.js.org/guide/lookup.html#nested-schema-caveats) that it is also possible to use Strings and map them to the component (SchemaFromWithPlugins in m

[2021-09-06 14:36] marina-mosti commented on #224
@datenspast are you importing components globally? or locally into this file?

Did you check out this caveat: https://formvuelate.js.org/guide/plugins.html#using-locally-imported-components ?

[2021-09-06 14:45] marina-mosti commented on #224
So:
`SchemaForm: "SchemaFormWithPlugins",`

This inside `mapComponents` can not work, because the component `SchemaFormWithPlugins` is not globally registered or passed down the schema tree.
Its literally a constant inside your component, so subcomponents have no way of knowing about it.

`SchemaFormFactory` takes a second param `components` that registers components in child schema forms or neste

[2021-09-07 13:46] victorlambert opened #227 "Model cleanup on schema change does not work with nested schema"
**Describe the bug**
When nested schema with conditions are used, model cleanup on schema change throw this error :
`Cannot read property 'split' of undefined
`
**To Reproduce**
1. Create a nested schema with preventModelCleanupOnSchemaChange on true
2. Use condition property to conditionally display a field
3. Fulfil condition, the field display correctly
4. Unfulfil condition, formvuelate try to

[2021-09-07 13:56] logaretm commented on #227
Which version of vee-validate (not the plugin) are you using?

[2021-09-07 14:20] victorlambert commented on #227
I'm using 4.4.9.

[2021-09-08 07:51] #227 closed, assigned to logaretm

[2021-09-08 20:36] datenspast commented on #224
I`m importing components locally into this file.

I tried to make some changes based on this, but did not manage to solve the issue.

schema.component properties into the name of your constant before you feed it your schema.

Yes, that approach seems to work. I tried this here:
https://codesandbox.io/s/fvl-nested-schema-3-x-forked-c05qr?file=/src/App.vue

@marina-mosti : Many thanks for addressing

[2021-09-12 22:56] ClemCornet opened #230 "Add label to fields group"
Hi and thank you for this great library.

I was wondering if it's possible to add labels for fields group ? Or do I have to inject them manually with a plugin ?

[code]
Thanks in advance !

[2021-09-13 07:01] marina-mosti commented on #230
Hi @ClemCornet , `SchemaForm` is a special component which should really not be used for displaying elements.
This would have to be modified with a plugin I think, or possibly modifying the schema to contain parent elements for the field groups.

This is a very important thing for a11y though, so I will mark it as enhancement so we can figure out a way to better address field sets natively

[2021-09-13 08:24] ClemCornet commented on #230
Hello @marina-mosti , thank you for your responsiveness and for this future improvement. Meanwhile, I'll try to modify my schema ;)

[2021-09-13 22:09] logaretm opened #232 "Unexpected token with v3.6.0"
### Discussed in https://github.com/formvuelate/formvuelate/discussions/231

<div type='discussions-op-text'>

<sup>Originally posted by **jojugaad** September 13, 2021</sup>
Hi there,

I've just upgraded my FormVuelate package to v 3.6.0 but am getting this weird "Unexpected token" error now.

_frontend_1  |  ERROR  Failed to compile with 1 error10:47:59 AM
frontend_1  |
frontend_1  |  error  in

[2021-09-14 10:10] #232 closed, assigned to nobody

[2021-09-14 13:19] datenspast commented on #224
Hi @logaretm and @marina-mosti!

I am really sorry to bug you again but the new Feature does not seem to work if the `VeeValidatePlugin` is also used.
Or do I miss anything?

[code]
Please find an example here:
https://codesandbox.io/s/fvl-nested-schema-3-x-forked-5o1jt?file=/src/App.vue

Many thanks again for your help (I owe you a forest...)

[2021-09-14 13:38] marina-mosti commented on #224
Thanks for the repro @datenspast

@logaretm i have a feeling somewhere around ln 58-64 were conflicting in the parsing bc on ParsedSchema  ln 104 I need a way to identify the name. I guess maybe we could try changing that condition to check for a `.schema` also.
Wdyt?

[2021-09-20 19:02] pau-santesmasses commented on #230
+1 for fieldsets or some other type of grouping (perhaps `<section>`?)

@ClemCornet in case it helps, my current solution is to add a class and display the label via a pseudo element. Not ideal, but it works for now.

Something like:

[code]

[2021-09-22 10:36] arthur-alexander opened #238 "Locally imported components not working"
**Describe the bug**
Locally imported components does not work as expected.  When declaring the component property as a string, nothing is being rendered in the browser.

I came across the discussion at issue [#144](https://github.com/formvuelate/formvuelate/issues/144). The included Codesandbox link works as expected. But if you upgrade formvuelate to the latest version the same thing happens.

*

[2021-09-23 08:09] marina-mosti commented on #238
Thanks for reporting this @arthur-alexander

[2021-09-26 08:19] #224 closed, assigned to nobody

[2021-09-27 10:42] marina-mosti commented on #238
Hey @arthur-alexander can you give it a shot with 3.6.2? Codesandbox isn't playing nice with 3.6.2 for me for some reason, keeps throwing 520s

[2021-09-29 07:12] arthur-alexander commented on #238
Hi @marina-mosti. I've tested it with 3.6.2 and the same thing happens. No components are being rendered unfortunately.

[2021-10-02 18:44] #238 closed, assigned to nobody

[2021-10-05 10:16] datenspast opened #240 "Default values with value "false" are not added to model during initialisation"
**Describe the bug**
Default values with value "false" are not added to model during initialization.

**To Reproduce**
I added an example here: https://codesandbox.io/s/fvl-boolean-defaults-m714e?file=/src/App.vue
[code]

**Expected behavior**
I would expect a model with the values:
[code]
but i get:
[code]

**System Info**
- FormVueLate version: 3.6.3
- plugins being used with versions: -

**Addi

[2021-10-05 12:55] marina-mosti commented on #240
Hi @datenspast thanks for opening the issue, this really helps with real world proofing/building

[2021-10-05 13:28] #240 closed, assigned to nobody

[2021-10-05 13:38] wousser opened #242 "Load schema from json source"
Feature request or question

I'm trying to load the schema from an external source in valid JSON format. However, FormVueLate is using an invalid JSON schema for form generation.

Is there a way to convert to and from JSON, or is there a plan to make the scheme valid JSON?

Valid JSON
[code]

Current schema used in FormVueLate:
[code]

[2021-10-05 13:42] marina-mosti commented on #242
Hi @wousser

The schema that you're showing here is not "invalid JSON", it's JavaScript.
If you want to use a JSON schema, aka, components in string format you have to declare your components globally, or use `SchemaFormFactory` to inject them.

Please refer to the documentation on this, and the `Lookup` plugin for more control over how you construct/parse your custom schema into FVL format

[2021-10-05 14:17] wousser commented on #242
Thanks for your quick answer. That will work. I overlooked the plugin section and thought the Lookup was a plugin to autocomplete locations.

[2021-10-05 14:17] #242 closed, assigned to nobody

[2021-11-02 17:04] digitalkaoz commented on #132
@marina-mosti i think he means this https://vueformulate.com/guide/inputs/types/group/ so basically a repeatable nested schema

Or at least i would be interested in this type

[2021-11-03 09:32] marina-mosti commented on #132
Hey @digitalkaoz building a plug-in to support json schema is not a small undertaking, and currently I have some other things that I want to prioritize. If anyone in the community wants to take it on, that would be awesome and it would be a great opportunity for a first 3rd part plug-in.

As for grouping fields, I'm cooking up a solution to be able to create form sections. But if it's a logical se

[2021-11-03 09:43] digitalkaoz commented on #132
Sure, json Schema is a big Task! I would be glad for some Idea on repeatable nested schemas :)

[2021-11-03 09:47] marina-mosti commented on #132
Can you go ahead and open a discussion about that? I don't want to bloat this issue with a side topic :)

[2021-11-04 07:28] digitalkaoz opened #250 "Add Support for (repeatable) Field Groups"
i really would like to see something like this implemented https://vueformulate.com/guide/inputs/types/group/#repeatable-groups

so basically a nested schema which can be repeated and constraints like `min_items=1, max_items=10`

the schema might look like this:

[code]

it even could be nested i guess:

[code]

im not sure if its possible with the current architecture but would be the last missin

[2021-11-05 16:37] marina-mosti commented on #250
This I think can already be achieved by using a `computed` schema, where some sort of flag/ref on your code that keeps a count of how many users should appear updates the computed schema and more fields appear.

https://codesandbox.io/s/fvl-conditional-schema-with-schema-condition-3x-q7uoo

I don't think we can provide it out of the box on the schema as you suggest because that would more than lik

[2021-11-11 14:27] wesratcliff opened #252 "Console warning with locally imported components"
**Describe the bug**
When using [locally imported components as strings](https://formvuelate.js.org/guide/plugins.html#using-locally-imported-components), an unnecessary(?) warning is shown on the console.

**To Reproduce**
1. Visit: https://codesandbox.io/s/fvl-local-imports-forked-hjb31
2. View the console to see `[Vue warn]: injection "fvl_injectedLocalComponents" not found."`

**Expected behav

[2021-11-11 16:50] wesratcliff opened #253 "Using local imports with Vee Validate plugin does not render form"
**Describe the bug**
When using local imports along with the vee-validate plugin, the form does not render. Removing vee-validate allows it to render.

I've setup a sandbox below that allows the vee-validate plugin to be toggled on and off.

**To Reproduce**
- Visit: https://codesandbox.io/s/fvl-local-imports-with-validation-3o2e4?file=/src/App.vue
- Change line 18 from `false` to `true` (form wil

[2021-11-12 10:47] marina-mosti commented on #253
@logaretm there's a small chance this is fixed by #254
I wonder if the lack of a default value was making noise and preventing the provide

[2021-11-12 12:26] logaretm commented on #253
@marina-mosti yes the default value will silence the `inject` warning.

[2021-11-12 19:09] logaretm commented on #253
@marina-mosti It doesn't seem like #254 fixes this. The reproduction uses the vee-validate plugin without the look-up.

[2021-11-13 10:43] #252 closed, assigned to nobody

[2021-11-15 10:10] #253 closed, assigned to logaretm

[2021-11-16 22:16] #250 closed, assigned to nobody

[2021-11-24 12:05] cmpscabral opened #266 "codesandbox examples not working"
Sorry if this is not the best place to report this bug

**Describe the bug**
Codesandbox examples don't work

**To Reproduce**
Visit https://formvuelate.js.org/examples/

**Expected behavior**
A working example

**System Info**
Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.
    at t.getExperimentUserId (https://codesandbox.io/st

[2021-11-24 13:15] marina-mosti commented on #266
Hey @cmpscabral thanks for the report, this is a problem with codesandbox I think because it seems to be working fine for me. https://codesandbox.io/s/fvl-useschemaform-3x-w7i2f?from-embed

Codesandbox has been a little unreliable lately, I'm not entirely sure why. Maybe you could open an issue in their repo because it seems that its their code that is causing the issue. Additionally, FVL does not

[2021-11-24 13:15] #266 closed, assigned to nobody

[2021-12-23 15:05] questionteller opened #271 "Nested schemas with default values"
Hello,

first of all I'd like to thank you for this awesome library as there are not many out there focussing on schema based form generation for Vue 3 so I am really glad I have stumbled upon this one!

What I've also stumbled upon is a weird issue(?) with the following schema:

[CodeSandbox of the issue](https://codesandbox.io/s/fvl-useschemaform-3-x-forked-m8lt3?file=/src/App.vue)

Once using a

[2022-01-15 19:27] fberndsen commented on #191
Thanks for the info @marina-mosti, I also was trying to tackle this issue and look forward to this functionality being added to the SchemaWizard!

I took your recommendation and managed to get it working. I've setup a [CodeSandbox](https://codesandbox.io/s/formvuelate-validated-wizard-n27x5?file=/src/App.vue) in case anyone else would like an example. I'm still fairly beginner at Vue and JavaScrip

[2022-01-18 08:19] marina-mosti commented on #191
Nice example @FloydBerndsen thanks :)
This is going to take a while longer to implement, me and Abdel are super busy with work and we need to rewrite the core to improve the plugin system so please be patient and meanwhile solutions like  this one are the go-to

[2022-01-26 22:01] catherineluse opened #277 "Code sandbox is broken"
Many examples on this page aren't rendering https://formvuelate.js.org/examples/#conditional-fields-with-schema

[2022-01-27 11:41] marina-mosti commented on #277
Yeah, code sandbox has been hit or miss lately. I think they work if you open them in full screen. I think eventually we have to move to vuepress next or something that allows us to embed Vue 3 directly and whip up our own solution to examples.
Thanks for letting me know :)

[2022-02-03 02:55] zach-at-healthpilot commented on #164
Maybe ... you ... should .. consider ... PUTTING THAT IN THE DOCUMENTATION.

[2022-02-16 09:12] xiaok opened #280 "How to trigger validate manually?"
Hi
In my app, clicking "confirm" button will pop up a modal to let the customer confirm whether the input is correct. Then click "submit" in modal to submit the form.
 I want to trigger validatation manually when user click "confirm" button, how can I do it?

https://formvuelate.js.org/guide/vuelidate.html#installation I read the document and didn't got the answer.

[2022-02-16 16:09] marina-mosti commented on #280
Hey @xiaok the Vuelidate plugin is in pre-release state as shown on the top of the page, and frankly I wouldnt use it all. We may have to remove it completely from the docs at this point, since we haven't been able to put in any work on it. I recommend you check out our Vee-validate plugin, which is fully working

[2022-02-16 16:09] #280 closed, assigned to nobody

[2022-02-16 16:09] #277 closed, assigned to nobody

[2022-02-16 16:11] marina-mosti commented on #271
hey @questionteller oops, sorry for the very late reply
We have some issues with nested schemas due to how the plugin system is conflicting with the nesting of FormSchemas, I dont think we can address these problems right now until we refactor the whole lib :(

[2022-02-16 16:35] xiaok commented on #280
@marina-mosti Actually I am using Vee-validate plugin.
Could you tell me is there any way to use Vee-validate or formvuelate to trigger validate for all fields?
I need some thing like form.validate() to validate all fields instead of submitting the form.

[2022-02-19 09:48] kokhoor opened #283 "Unable to set validation for vee-validate"
**Describe the bug**
As I would like to use vue-tel-input (which does its own validation and fire a callback when validation is done, I wanted to set the meta to validated and valid to true but validation will still run

**To Reproduce**
in a control, even with following set, the validation will still be executed, regardless of whether I set valid is true / false

[code]

**Expected behavior**
Val

[2022-02-19 10:25] marina-mosti commented on #283
Hey, you're mutating props which is a problem. I also don't know this lib and this is an integration that is not supported, maybe open an issue with them directly and ask them for advice

[2022-02-19 10:25] #283 closed, assigned to nobody

[2022-02-20 04:42] kokhoor commented on #283
For anyone facing same issue, the solution I use is to define following handler @validate="onValidChanged" in VueTelInput, to return an empty string when the phone number is not valid yet. Is not like the perfect solution, but it does works (and maybe need to add a different validator to show different error message):

[code]

[2022-04-18 21:39] davidzwa commented on #280
@marina-mosti I share a similar wish: I would like to be able to check the form validation outside the afterForm and beforeForm templates. This is quite common in order to share state to f.e. Dialog action buttons or nested components with internal forms.

[2022-04-18 22:17] davidzwa opened #288 "Expose or bind to change on validation meta and errors"
(Vuetify3 beta 1) + Vee-Validate + FormVueLate + Zod

**Is your feature request related to a problem? Please describe.**
The problem is that currently the `validation` slotBind properties are not usable outside the SchemaFormWithValidation (VeeValidate extended Form). Its insanely hard to find a solution so far to be able to expose this to any component not inside the template.

**Describe the sol

[2022-04-18 23:11] logaretm commented on #288
There have been various discussions about this in https://github.com/formvuelate/formvuelate/discussions/276 and https://github.com/formvuelate/formvuelate/discussions/204, also in other issues.

This would require a big re-write and a major release for formvuelate to be able to do that. Sadly I'm struggling with finding the time to work on it at the moment.

For this particular issue, there is a

[2022-04-19 00:07] davidzwa commented on #288
Ok I understand completely. Without Vee-Validate and/or Vuelidate things are much much different (and easier?)

In the meanwhile: I got the following working:
[code]

This pattern makes me think of the ValidationObserver and ValidationProvider `vee-validate` used to have. I dont understand why it was removed - could you shine a light on that?

[2022-04-19 02:00] logaretm commented on #288
That would be a decent workaround albeit a little hacky. If it works for you then great.

[Well that's a discussion for vee-validate itself](https://github.com/logaretm/vee-validate/discussions). The short version, old API wasn't possible with Vue 3 so it made sense to re-think about everything in the next major release.

[2022-04-19 09:16] davidzwa commented on #288
Yep quite hacky, and as I experienced not 100% foolproof (`this.$refs` didnt trigger the watch).
So a temporary placeholder I guess 👍🏼

Very true, its a bit off-topic. I was just thinking out loud.

[2022-04-19 14:53] xiaok commented on #280
@davidzwa I made a small batch for this requirement: https://github.com/xiaok/formvuelate/commit/39d557c86ef9f33e7afbcc4fc71594b23deeeeac

[2022-04-19 14:55] xiaok commented on #280
@davidzwa sorry I remove /src from .gitignore, please check this file https://github.com/xiaok/formvuelate/commit/39d557c86ef9f33e7afbcc4fc71594b23deeeeac#diff-fa0632017b6760c90600c2ea3973db6ebfbe269ac16b16a4f23945513aebecba

[2022-04-19 17:24] davidzwa commented on #280
Went for a ref on the form and hacked myself out that way using watch/data. I will await the repo author's further steps.

Thanks tho!

[2022-05-06 10:52] 4KDA opened #290 "Add custom class for each schema-row"
The ability to add custom classes for each schema-row element would greatly simplify the creation of adaptive forms of any complexity.

Add, please

[2022-05-06 11:15] marina-mosti commented on #290
Can you provide a use case for what you're trying to achieve? Preferably with some code example of component and use

[2022-05-06 12:37] 4KDA commented on #290
For example, here is the visual structure of the form
<img width="1377" alt="image" src="https://user-images.githubusercontent.com/38465364/167132463-d2d4d06b-a360-471c-8f16-cdef1d1f777c.png">

[2022-05-06 12:47] marina-mosti commented on #290
Seems like this is fixable with reading the docs here https://formvuelate.js.org/guide/schema-form.html#schemarowclasses

[2022-05-06 12:47] #290 closed, assigned to nobody

[2022-05-06 12:50] 4KDA commented on #290
I studied the documentation, but the schemaRowClasses property adds a class to all elements, and I need the ability to individually set classes for each field wrapper

[2022-05-06 12:54] 4KDA commented on #290
I need to get it like this

<img width="504" alt="image" src="https://user-images.githubusercontent.com/38465364/167135283-e8d8faca-8ca6-4703-9a4a-121603edb9c7.png">

[2022-05-06 13:42] 4KDA commented on #290
@marina-mosti can you help?

[2022-05-06 14:21] marina-mosti commented on #290
That's not possible as far as I remember. Try passing the class as part of the schema tree and it should try to merge. If it doesn't , then maybe open a pr 😊

[2022-05-23 10:32] 4KDA commented on #230
Hey!
@marina-mosti, what do you say if I make it possible to add any elements to the forms. For example div or h3 with some text or just any custom component. This will allow you to split the form as desired, for example, using custom separators or group names. I think this will solve this issue. Can I get a merge?

ex
<img width="792" alt="image" src="https://user-images.githubusercontent.com/384

[2022-05-24 12:16] marina-mosti commented on #230
Just use higher level components that contain your labels and header tags and put them in the schema

[2022-07-26 11:53] saroshali4 opened #302 "Vue warns "provide() can only be used inside setup()" when calling "useSchemaForm()" inside a function."
Hi, first of all, thanks for the amazing work you've done.
I'm using Vite and Vue3 with composition API style.

**Describe the bug**
I have a form where user can add multiple contacts, please refer to image.
![image](https://user-images.githubusercontent.com/21079476/180997589-0edf1754-1783-4c4f-a35a-fc9671fda247.png)

So, what I am trying to achieve is to use "useSchemaForm" to work with dynamic

[2022-09-16 16:07] Xaaalera opened #304 "Dirrective"
i try use v-maska

const scheme: FormObjectSchema = {
  'fio': { 'label': 'ФИО', 'component': aliasComponent.string, validations: 'required' },
  'login': { 'label': 'Логин', 'component': aliasComponent.string, validations: 'required' },
  'password': { 'label': 'Пароль', 'component': aliasComponent.string, validations: 'required', type: 'password' },
  'is_active': { 'label': 'Активен', 'componen